.appBar {
  color: white;
  transition: padding 0.5s ease;
}

.searchless {
  padding-bottom: 30%;
  transition: padding 0.5s ease;
}

.search {
  margin-top: 30%;
  margin-right: 30rem;
  transition: margin 0.5s ease;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
