@import "~react-toolbox/lib/colors";

// customize react-toolbox variables
$color-primary: $palette-light-blue-500;
$color-primary-dark: $palette-light-blue-700;
$color-primary-light: $palette-light-blue-100;

$white: #fff;
$black: #000;

$background-light: rgba(255, 255, 255, .25);
$background-light-plus: rgba(255, 255, 255, .30);

$background-color: #f2f2f2;
