.search {
  display: flex;
  flex-direction: row;
  transition: margin 0.5s ease;
}

.label {
  margin-right: 1em;
  font-size: xx-large;
  white-space: nowrap;
}

.box {
  flex: 1;
  display: flex;
  background-color: $background-light;
  border-radius: 2px;
  padding: 5px 10px;
  margin-right: 1rem;
  &:hover {
    background-color: $background-light-plus;
  }
  input {
    background-color: transparent;
    border: 0;
    min-width: 180px;
    outline: none;
    color: white;
    font-size: 1.5rem;
    &::-webkit-input-placeholder {
      color: white;
    }
  }
  button {
    width: 1em;
    height: 1em;
    padding: 0;
    span {
      color: white;
      font-size: 1.5rem !important;
      line-height: 1.5rem !important;
    }
  }
}